body {
    background-image: linear-gradient( darkgrey, lightgrey, darkgrey);
    text-align: center;
}
#content {
    width: 70%;
    margin-left: 15%;
    background-color: white;
    padding: 2em 10em;
}
h2 {
    font-weight: 100;
    font-size: 2.5em;
    text-transform: uppercase;
}