body {
    background-image: linear-gradient( darkgrey, lightgrey, darkgrey);
    text-align: center;
}
#content {
    width: 70%;
    margin-left: 15%;
    background-color: white;
    padding: 2em 10em;
}
h2 {
    font-weight: 100;
    font-size: 2.5em;
    text-transform: uppercase;
}
h3 {
    font-weight: 100;
    font-size: 2em;
}
p {
    margin-top: 2%;
    font-weight: 100;
    font-size: 1.5em;
}
img {
    height: 500px;
    border: 1px solid lightgrey;
    border-radius: 10px;
}
#text {
    margin-top: 5%;
    text-align: left;
}