<link rel="stylesheet" type="text/css" href="classes/css/contact.css">
<div id="content">
    <h2>Kontakt</h2>
    <div id="content_inner">
        <h3>SmartSystems GmbH<br>Büsumer Straße 46<br>24768 Rendsburg</h3>
        <br>
        <h3>Geschäftsführer: Lukas Kemper</h3>
        <br>
        <h3>Telefon: 0151 22046000</h3>
        <h3>Fax: </h3>
        <h3>Email: info@smsy.de</h3>
        <br>
        <h3>Anfahrt:</h3>
        <br>
        <div id="google">
            <iframe id="iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1929.0651727998227!2d9.617794810642314!3d54.31410186778604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47b3a6a82f21262d%3A0xdd8e325b27815e0e!2sB%C3%BCsumer+Str.+46%2C+24768+Rendsburg!5e0!3m2!1sde!2sde!4v1528194340583" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
    </div>
</div>