<div class="breadcrumb-nav">
    <div class="navbar-head">
        <div class="dropdown-navbar">
            <button class="dropbtn-navbar">Produkte 
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content-nav">
                <a href="index.php?request=products&category=sound">Sound</a>
                <a href="index.php?request=products&category=licht">Licht</a>
                <a href="index.php?request=products&category=wärme">Wärme</a>
                <a href="index.php?request=products&category=gadgets">Gadgets</a>
              </div>
        </div>
        <a href="index.php?request=impressum">Impressum</a>
        <a href="index.php?request=aboutUs">Über Uns</a>
        <div class="dropdown-navbar" onclick="document.getElementById('login').style.display = block" style="float: right;">
           <button class="dropbtn-navbar">Anmelden
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content-nav" id="login" style="right: 0; width: 25%; height: 45%;">
                <input class="form-control login-input" type="text" placeholder="Benutzernamen"/>
                <input class="form-control login-input" type="password" placeholder="Passwort"/>
                <input class="btn btn-primary" type="submit" value="Anmelden"/>
                <hr/>
                Neu hier? <i id="register-link" onclick="showRegister()">Jetzt Registrieren!</i>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="text" placeholder="Benutzernamen"/>
                    <input type="password" placeholder="Passwort"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Login</button>
                </div>
            </div>
        </div>
    </div>
<script>
    function showRegister() {
        $("#register-modal").modal("toggle");
    }
</script>