
<script>
    $(document).ready(function (){
        var products = {test};
        var div = document.getElementById("products");
        for(var i = 0; i < products.length; i++){
            div.innerHTML += "<div class='product'><img src='../img/products/"+products[i]['ID']+".png'></br>"+products[i]['name']+"</div>";
        }

        document.getElementById("title").innerHTML = "{category}".toUpperCase();
    })
</script>
<link rel="stylesheet" type="text/css" href="../classes/css/products.css">
<div id="content">
    <h2 id="title"></h2>
    <div id="products">

    </div>
</div>
